.row-wrapper{
    color: white;
    margin-bottom: 10px;
    z-index: 3;
    margin-left: 5vw;
}

.row-title{
    font-size: 1.4vw;
    letter-spacing: 0.7px;
    font-weight: bold;
    margin-bottom: 10px; 
    z-index: 3;   
}

.row-card{
    display: flex;
    align-items: center;
    height: 130px;
    color: white;
    
    
    z-index: 3;
}
.row-card::-webkit-scrollbar{
    display: none;
}